
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
  background-color: #000000;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.hero {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;


  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero > h1 {
  font-family: 'Fredoka One';
  letter-spacing: -0.035em;
  color: hsl(68, 100%, 93%);;
  font-size: 7em;
  margin-top: -50px;
}

.hero > p {
  color: hsl(68, 5%, 40%);
  font-size: 0.85em;
  letter-spacing: -0.20px;
  margin-top: -5px;
  margin-bottom: 2em;
}

#joinBtn{
    font-size: 1em;
    width: fit-content;
    margin-top: 1em;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
}

.video-container {
    max-height: 100%;
    border: 2px solid #000;
    background-color: #141414;
    border-radius: 16px;
    margin-top: 12px;
}

.video-player{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 1px solid dodgerblue;
}

.video-player > *,
.agora_video_player{
  border-radius: 16px;
}

#stream-wrapper,
#stream-controls{
    display: none;
    justify-content: center;
    margin-top: 4px;
}

button {
    border: none;
    background-color: hsla(0, 0%, 8%, 0.95);
    border-radius: 8px;
    color: hsl(0, 0%, 50%);
    padding: 10px 20px;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 2px;
    cursor: pointer;
    border: 1px solid transparent;
}

button:hover{
    border: 1px solid hsl(0, 0%, 50%);
    transition: border 1s ease-in-out;
}


@media screen and (max-width: 1400px){
    #video-streams{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 85%;
    }
}

.iconify{
  display: block;
  width: 1.5rem;
  height: 100%;
}

.hidden{
  display: none;
  opacity: 0;
}

.show{
  display: flex;
}

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  max-height: 100%;
  display: grid;
  place-content: center;
  z-index: 10;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1
  }
}